@import 'secondary/utilities';
@import 'secondary/re-used';

/* General */

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: clr(livianite, light);
    .body{
        margin-top: 10rem;
        /* quienes-somos.html */
        .description{
            .row{
                div{
                    .description-title{
                        font-family: vladimir;
                        font-size: 3rem;
                    }
                }
            }
            background-color: clr(livianite, base);
            border-radius: 2rem;
            padding-top: .5rem;
        }
    }
    .upper-side{
        /* quienes-somos.html */
        .page-title{
            font-family: vladimir;
            font-size: 4rem;
        }
        margin-top: 10rem;
        margin-bottom: 8rem;
    }
    /* Footer */
    div{
        footer{
            div{
                .inicio{
                    position: absolute;
                    bottom: 0px;
                    right: 38px;
                    width: fit-content;
                    &::before{
                        content: attr(data-tip);
                        display: block;
                        position: absolute;
                        right: -125%;
                        width: 7rem;
                        color: clr(monochromatic, light);
                        background-color: clr(livianite, dark);
                        text-align: center;
                        opacity: 0;
                        transition: all .3s;
                        pointer-events: none;
                    }
                    img{
                        background-color: clr(livianite, dark);
                        height: 2rem;
                        width: 2rem;
                    }
                    &:hover::before{
                        opacity: 1;
                        @include move-up(2rem);
                    }
                }
            }
            .fixed-footer{
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    main{
        div{
            .product-finance{
                div{
                    button{
                        @extend .btn;
                    }
                }
            }
        }
    }
}

@import 'secondary/media-queries';