@import 'secondary/re-used';
@import 'secondary/utilities';

/* General */

*{
    font-family: 'Montserrat', sans-serif;
}


body{
    background-color: #dac2fe;
    .body{
        margin-top: 10rem;
        /* quienes-somos.html */
        .description{
            .row{
                div{
                    .description-title{
                        font-family: vladimir;
                        font-size: 3rem;
                    }
                }
            }
            background-color: #CEAFFE;
            border-radius: 2rem;
            padding-top: .5rem;
        }
    }
    .upper-side{
        /* quienes-somos.html */
        .page-title{
            font-family: vladimir;
            font-size: 4rem;
        }
        margin-top: 10rem;
        margin-bottom: 8rem;
    }
    /* Footer */
    div{
        footer{
            .inicio{
                left: 95%;
                padding: 10px;
                background-color: #CEAFFE;
                &::before{
                    content: attr(data-tip);
                    opacity: 0;
                }
            }
            .fixed-footer{
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

@import 'secondary/media-queries';