
/* General */

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: clr(livianite, light);
    .body{
        margin-top: 10rem;
        /* quienes-somos.html */
        .description{
            .row{
                div{
                    .description-title{
                        font-family: vladimir;
                        font-size: 3rem;
                    }
                }
            }
            background-color: clr(livianite, base);
            border-radius: 2rem;
            padding-top: .5rem;
        }
    }
    .upper-side{
        /* product.html */
        div{
            .product-featured{
                span{
                    width: 2rem;
                }
            }
        }
        /* quienes-somos.html */
        .page-title{
            font-family: vladimir;
            font-size: 4rem;
        }
        margin-top: 10rem;
        margin-bottom: 8rem;
    }
}