
/* General */

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: clr(livianite, light);
    .body{
        margin-top: 10rem;
        //quienes-somos.html
        .description{
            .row{
                div{
                    .description-title{
                        font-family: vladimir;
                        font-size: 3rem;
                    }
                }
            }
            background-color: clr(livianite, base);
            border-radius: 2rem;
            padding-top: .5rem;
        }
    }

/*     //index.html
    .presentation-bg-img{
        background-image: url("../../img/presentation.jpg");
        background-size: cover;
    }*/
    .upper-side{
        margin-top: 10rem;
        margin-bottom: 8rem;
        // quienes-somos.html
        .page-title{
            font-family: vladimir;
            font-size: 4rem;
        }
    }
    //carrito.html
    .cart-title{
        margin-top: 10rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }
    .cart{
        margin:auto auto 2rem 2rem;
        display: flex;
        .cart-details{
            display: inline;
            .cart-product{
                margin: .5rem auto;
                display: flex;
                justify-content: flex-start;
                border-bottom: 1px solid clr(livianite, dark);
                div{
                    margin: 0 1rem;
                }
                .cart-product-img{
                    display: inline-block;
                    img{
                        width: 50%;
                    }
                }
                .cart-product-info{
                    .cart-product-info-name{
                        @include center-highlight;
                    }
                    .cart-product-info-unitPrize{
                        @include center-highlight;
                    }
                }
                .cart-product-size{
                    .cart-product-size-title{
                        @include center-highlight;
                    }
                }
                .cart-product-quantity{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .cart-product-quantity-title{
                        @include center-highlight;
                    }
                }
                .cart-product-price{
                    p{
                        @include center-highlight;
                    }
                }
            }
        }
        .cart-payment{
            position: fixed;
            right: 0;
            margin-right: 2rem;
            margin-top: 4rem;
            .cart-payment-buyButton{
                display: flex;
                justify-content: center;
                .cart-payment-buyButton-button{
                    width: 70%;
                    border: none;
                    border-radius: 5px;
                    background-color: clr;
                }
            }

        }
    }
    //product.html
    .product-layout{
        margin-top: 10rem;
        display: grid;
        grid-template-areas: 
        "rel img info"
        "rel comm comm"
        "rel comm comm"
        ;
        .related-products{
            grid-area: rel;
            background-color: clr(livianite, base);
            height: 700px;
            width: fit-content;
            overflow-y: scroll;
            p{
                text-align: center;
            }
            .related-products-title{
                margin-top: 1rem;
                font-weight: 800;
            }
            .related-products-img{
                margin-bottom: .5rem;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border: 1px solid clr(livianite, dark);
                width: min-content;
                &:hover p{
                    @include center-highlight;
                    border-radius: 3px;
                    box-shadow: 0px 0px 7px clr(livianite, dark); 
                }
                img{
                    width: 240px;
                    transition: all 0.3s;
                }
                p{
                    color: clr(monochromatic, dark);
                    transition: all 0.3s;
                    
                }
            }
        }
        .product-images{
            margin-left: 1rem;
            margin-right: 1rem;
            height: max-content;
            grid-area: img;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            .product-images-main{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    padding: .3rem;
                    cursor: pointer;
                    display: none;
                }
                img{
                    cursor: zoom-in;
                }
            }
            .product-images-other{
                display: flex;
                flex-direction: column;
                align-items: end;
                height: fit-content;
                img{
                    border: 1px solid clr(livianite, dark);
                    width: 50%;
                    padding: .5rem;
                    cursor: pointer;
                }
            }
        }
        .product-info{
            padding-left: 1rem;
            grid-area: info;
            height: max-content;
            top: 0;
            border-left: 1px solid black;
            .product-info-buyButtons{
                display: flex;
                justify-content: center;
                button{
                    @include button;
                }
            }
        }
        .commentSection{
            grid-area: comm;
            padding: .5rem;
            border: 1px solid clr(livianite, dark);
            border-radius: 6px;
            .commentSection-question{
                margin: 1rem auto;
                display: flex;
                flex-direction: column;
                .commentSection-question-label{
                    @include center-highlight;
                }
                .commentSection-question-input{
                    @include input;
                }
                .commentSection-question-button{
                    @include button;
                }
            }
            .commentSection-title{
                @include center-highlight;
                margin-bottom: 2rem;
            }
            .commentSection-comment{
                cursor: default;
                .commentSection-comment-customer{
                    &:hover::after{
                        opacity: 1;
                    }
                    &::after{
                        content: attr(data-tip);
                        font-size: x-small;
                        padding-left: .3rem;
                        opacity: 0;
                        transition: 0.2s ease-out;
                    }
                    i{
                        padding: 0px .5rem;
                    }
                }
                .commentSection-comment-owner{
                    &::after{
                        @extend .commentSection-comment-customer::after;
                    }
                    i{
                        padding: 0px 1rem;
                    }
                }
            }
            
            
        }
    }
}