/* Media Queries */

@media only screen and (max-width:990px){
    .upper-side{
        div{
            .product-thumbnails{
                display: none;
            }
            
        
        }
    }
    
    section{
        .product-container{
            .container{
                .row{
                    div{
                        .product-grid{
                            margin-bottom:30px
                        }
                    }
                }
            }
        }
    }
    header{
        .navbar{
            div{
                .collapse{
                    .navbar-nav{
                        .menuLink{
                            width: 100%;
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    .upper-side{
        article{
            .presentation{
                p{
                    text-align: center;
                }
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .body{
        .description{
            .row{
                div{
                    .description-img{
                        display: none;
                    }
                    .description-title{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    div{
        footer{
            div{
                span{
                    display: none;
                }
            }
        }
    } 
}