@import 'utilities';

/* Navbar */

header{
    .navbar{
        background-color: clr(livianite, base);
        .container-fluid{
            .navbar-brand{
                font-family: vladimir;
                font-size: 3rem;
            }
        }
        .collapse{
            .nav-item{
                .nav-link:hover{
                    background-color: clr(livianite, dark);
                }
            }
            .navbar-nav{
                .menuLink{
                    width: 10rem;
                    .dropdown-menu{
                        .submenu-link:hover{
                            background-color: clr(livianite, dark);
                        }
                        border: none;
                        border-radius: none;
                        background-color: clr(livianite, base);
                    }
                    .contact{
                        cursor: pointer;
                    }        
                }
            }
        }
    }
}

/* Product Grid */

section{
    .immediate-stock{
        /* index-html */
        margin-bottom: 0;
        background-color: clr(livianite, base);
    }
    .popular-products{
        margin-top: 0;
        background-color: clr(livianite, light);
    }
    .design-container{
        
    /* disenos.html */
        background-color: clr(livianite, base);
    }
    // General Content
    .product-container{
        padding-bottom: 2rem;
        padding-top: 1rem;
        .container{
            .grid-title{
                text-decoration: none;
                font-size:3rem;
                color: clr(monochromatic, dark);
                .anchor-title{
                    text-decoration: none;
                    font-size:3rem;
                    color: clr(monochromatic, dark);
                }
            }
            .row{
                div{
                    .product-grid{
                        text-align:center;
                        padding:0 0 72px;
                        border:1px solid rgba(0,0,0,.1);
                        overflow:hidden;
                        position:relative;
                        z-index:1;
                        &:hover .product-buy{
                            @include move-up(3rem);
                            transition: all .2s ease-out 0s;
                            opacity: 1;
                            a{
                                &::before{
                                    @include before-icon;
                                }
                                &:hover::before{
                                    @include move-up(2rem);
                                    opacity: 1;
                                }
                            }
                        }
                        .product-buy{
                            opacity: 0;
                            a{
                                text-decoration: none;
                                i{
                                    padding: .6rem;
                                    background-color: $bg-tp;
                                    transition: all .5s ease-out 0s;
                                    cursor: pointer;
                                }
                                .ver{
                                    margin-right: .2rem;
                                }
                                .agregar{
                                    margin-left: .2rem;
                                }
                            }

                            
                        }
                        .product-content{
                            background-color: clr(monochromatic, light);
                            text-align:center;
                            padding:12px 0;
                            margin:0 auto;
                            position:absolute;
                            left:0;
                            right:0;
                            z-index:1;
                            transition:all .3s;
                            &:hover .title a{
                                color: clr(monochromatic, dark);
                            }
                            .title{
                                font-size:1rem;
                                font-weight:400;
                                letter-spacing:.5px;
                                margin:0 0 10px;
                                transition:all .3s ease-out;
                                a{
                                    &:hover{
                                        color: clr(monochromatic, dark);
                                        font-weight: 600;
                                    }
                                    color: clr(monochromatic, gray-light);
                                }
                            }
                            .price{
                                color: clr(monochromatic, gray-dark);
                                font-size:17px;
                                font-weight:700;
                                margin-bottom:8px;
                                text-align:center;
                                transition:all .3s;
                                span{
                                    color: clr(monochromatic, gray-light);
                                    font-size:13px;
                                    font-weight:400;
                                    text-decoration:line-through;
                                    margin-left:3px;
                                    display:inline-block;
                                }
                            }
                        }
                        .product-image{
                            position:relative;
                            transition:all .3s ease 0s;
                            a{
                                display: block;
                                cursor: default;
                                .pic-1{
                                    opacity:1;
                                    transition:all .3s ease-out 0s
                                }
                                .pic-2{
                                    opacity:0;
                                    position:absolute;
                                    top:0;
                                    left:0;
                                    transition:all .3s ease-out 0s
                                }
                                &:hover .pic-2{
                                    opacity: 1;
                                }
                            }
                            img{
                                width: 100%;
                                height: auto;
                            }
                            .product-discount-label{
                                @extend .lbl;
                                background-color: clr(monochromatic, gray-dark);
                                left:auto;
                                right: 0;
                            }
                            .product-new-label{
                                @extend .lbl;
                                background-color: clr(livianite, dark);
                                left:0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Footer */

div{
    footer{
        .float-footer{
            li{
                .footer-button{
                    height: 1.5rem;
                    background-color: clr(livianite, dark);
                    @include footer-icon;
                    &::before{
                        @include before-icon;
                        z-index: 1;
                    }
                    &:hover::before{
                        opacity: 1;
                        @include move-up(2rem);
                    }
                }
            }
        }
        .fixed-footer{
            $f: &;
            background-color: $bg-tp;
            transition: all .5s;
            li{
                a{
                    &::before{
                        @include before-icon;
                    }
                    &:hover::before{
                        opacity: 1;
                        @include move-up(2rem);
                    }
                }
            }
        }
    }
}