/* Fonts */

@font-face {
    font-family: vladimir;
    src: url(../fonts/VLADIMIR.TTF);
}
/* Animation mixin */
@mixin move-up ($rem) {
    @if($rem > 0){
        transform: translateY(-$rem);
    }
}

/* Colors map */

$colors: (
    monochromatic: (light : #fff, gray-light : #777, gray-dark : #333, dark : #000),
    livianite: (base : #ceaffe, light : #dac2fe, dark : #b686fd ) 
);

/* Function to get color */

@function clr($type, $color){
    @return map-get(map-get($colors, $type), $color);
}

/* Label styling for @extend to other classes */

.lbl{
    color: clr(monochromatic, light);
    font-size: 1rem;
    padding:.1rem .3rem;
    display:block;
    position:absolute;
    top: .5rem;
}