@font-face {
    font-family: vladimir;
    src: url(../fonts/VLADIMIR.TTF);
}

/* Ppropiedades generales a todos los HTML */
*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #dac2fe;
}

/* Diseño de elementos reutilizables */

/* Titulo de los HTML */

.page-title{
    font-family: vladimir;
    font-size: 6rem;
    font-weight: 300;
}

/* Retoques carousel */

.carousel-caption a:hover{
    font-weight: 600;
}


/* Retoques en navbar */

.navigationBar{
    background-color: #CEAFFE;
}

.nav-link:hover{
    background-color: #b686fd;
}

.navbar-brand{
    font-family: vladimir;
    font-size: 3rem;
}

.subMenu{
    border: none;
    border-radius: none;
    background-color: #CEAFFE;
}

.menuLink{
    width: 10rem;
}

.submenu-link:hover{
    background-color: #b686fd;
}

/* Diseño de Grid de Productos */

.anchor-title, .grid-title{
    text-decoration: none;
    font-size:3rem;
    color: black;
}

.product-grid{
    text-align:center;
    padding:0 0 72px;
    border:1px solid rgba(0,0,0,.1);
    overflow:hidden;
    position:relative;
    z-index:1
}
.product-image{
    position:relative;
    transition:all .3s ease 0s
}
.product-image a{
    display:block
}
.product-image img{
    width:100%;
    height:auto
}
.pic-1{
    opacity:1;
    transition:all .3s ease-out 0s
}
.pic-2{
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    transition:all .3s ease-out 0s
}
.product-grid:hover .pic-2{
    opacity:1
}
.social{
    width:150px;
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    transform:translateY(-50%) translateX(-50%);
    position:absolute;
    top:100%;
    left:50%;
    z-index:1;
    transition:all .3s ease 0s
}
.product-grid:hover .social{
    opacity:1;
    top:90%;
}
.social li{
    display:inline-block
}
.social li a{
    color:#fff;
    background-color:#333;
    font-size:16px;
    line-height:40px;
    text-align:center;
    height:40px;
    width:40px;
    margin:0 2px;
    display:block;
    position:relative;
    transition:all .2s ease-in-out
}
.social li a:hover{
    color:#fff;
    background-color:#b686fd;
}
.social li a:before{
    content:attr(data-tip);
    color:#fff;
    background-color:#000;
    font-size:12px;
    letter-spacing:1px;
    line-height:20px;
    padding:1px 5px;
    white-space:nowrap;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    left:50%;
    top:-30px
}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{
    opacity:1
}
.product-new-label{
    color:#fff;
    background-color:#b686fd;
    font-size:12px;
    padding:2px 7px;
    display:block;
    position:absolute;
    top:10px;
    left:0
}
.product-discount-label{
    color:#fff;
    background-color:#333;
    left:auto;
    right:0;
    font-size:12px;
    padding:2px 7px;
    display:block;
    position:absolute;
    top:10px;
}

.product-content{
    background-color:#fff;
    text-align:center;
    padding:12px 0;
    margin:0 auto;
    position:absolute;
    left:0;
    right:0;
    z-index:1;
    transition:all .3s
}
.title{
    font-size:13px;
    font-weight:400;
    letter-spacing:.5px;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s
}
.title a{
    color:#777;
}
.title a:hover,.product-grid:hover .title a{
    color:black;
}
.price{
    color:#333;
    font-size:17px;
    font-weight:700;
    margin-bottom:8px;
    text-align:center;
    transition:all .3s
}
.price span{
    color:#999;
    font-size:13px;
    font-weight:400;
    text-decoration:line-through;
    margin-left:3px;
    display:inline-block
}
.add-to-cart{
    color:#000;
    font-size:13px;
    font-weight:600
}

/* Inicio retoques footer */

.fixed-footer{
    background-color: rgba(255, 255, 255, 0.5);
}

/* Fin Diseño de Objetos Reutilizables */ 



/* Inicio index.html */

/* Retoque Presentacion */

.upper-side{
    margin-top: 10rem;
    margin-bottom: 8rem;
}

/* Detalles esteticos Background index.html */

.immediate-stock{
    margin-bottom: 0;
    background-color: #CEAFFE;
}

.popular-products{
    margin-top: 0;
    background-color: #b686fd;
}

/* Cambio tamaño de secciones (Diseños mas vendidos, Stock Inmediato) */

.product-container{
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/* Fin index.html */



/* Inicio quienes-somos.html */

.body{
    margin-top: 10rem;
}

.description{
    background-color: #CEAFFE;
    border-radius: 2rem;
    padding-top: .5rem;
}

/* Fin quienes-somos.html */




/* Inicio disenos.html */

.design-container{
    background-color: #CEAFFE;
}

/* Fin diseños.html */

/* Inicio product.html */

.product-card{
    margin-top: 10rem;
}


/* Media Queries */

@media only screen and (max-width:990px){
    .product-grid{
        margin-bottom:30px
    }
    .menuLink{
        width: 100%;
    }
}

@media (max-width:768px){
    .upper-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .presentation p{
        text-align: center;
    }
    .description-img{
        display: none;
    }
    .description-title{
        font-size: 2rem;
    }
}