/* Variable de Color */
/* Fonts */
@font-face {
  font-family: vladimir;
  src: url(../fonts/VLADIMIR.TTF); }

/* Animation mixin */
/* Footer icon position & :before hover */
/* Colors map */
/* Function to get color */
/* Label styling to @extend into other classes */
.lbl, section .product-container .container .row div .product-grid .product-image .product-discount-label, section .product-container .container .row div .product-grid .product-image .product-new-label {
  color: #fff;
  font-size: 1rem;
  padding: .1rem .3rem;
  display: block;
  position: absolute;
  top: .5rem; }

/* Variable de Color */
/* Fonts */
@font-face {
  font-family: vladimir;
  src: url(../fonts/VLADIMIR.TTF); }

/* Animation mixin */
/* Footer icon position & :before hover */
/* Colors map */
/* Function to get color */
/* Label styling to @extend into other classes */
.lbl, section .product-container .container .row div .product-grid .product-image .product-discount-label, section .product-container .container .row div .product-grid .product-image .product-new-label {
  color: #fff;
  font-size: 1rem;
  padding: .1rem .3rem;
  display: block;
  position: absolute;
  top: .5rem; }

/* Navbar */
header .navbar {
  background-color: #ceaffe; }
  header .navbar .container-fluid .navbar-brand {
    font-family: vladimir;
    font-size: 3rem; }
  header .navbar .collapse .nav-item .nav-link:hover {
    background-color: #b686fd; }
  header .navbar .collapse .navbar-nav .menuLink {
    width: 10rem; }
    header .navbar .collapse .navbar-nav .menuLink .dropdown-menu {
      border: none;
      border-radius: none;
      background-color: #ceaffe; }
      header .navbar .collapse .navbar-nav .menuLink .dropdown-menu .submenu-link:hover {
        background-color: #b686fd; }

/* Product Grid */
section .immediate-stock {
  /* index-html */
  margin-bottom: 0;
  background-color: #ceaffe; }

section .popular-products {
  margin-top: 0;
  background-color: #b686fd; }

section .design-container {
  /* disenos.html */
  background-color: #ceaffe; }

section .product-container {
  padding-bottom: 2rem;
  padding-top: 1rem; }
  section .product-container .container .grid-title {
    text-decoration: none;
    font-size: 3rem;
    color: #000; }
    section .product-container .container .grid-title .anchor-title {
      text-decoration: none;
      font-size: 3rem;
      color: #000; }
  section .product-container .container .row div .product-grid {
    text-align: center;
    padding: 0 0 72px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 1; }
    section .product-container .container .row div .product-grid:hover .product-buy {
      transform: translateY(-3rem);
      transition: all .2s ease-out 0s;
      opacity: 1; }
      section .product-container .container .row div .product-grid:hover .product-buy a::before {
        content: attr(data-tip);
        font-size: small;
        padding: 2px;
        display: block;
        position: absolute;
        text-align: center;
        opacity: 0;
        transition: all .3s;
        pointer-events: none;
        color: #000;
        background-color: rgba(255, 255, 255, 0.5); }
      section .product-container .container .row div .product-grid:hover .product-buy a:hover::before {
        transform: translateY(-2rem);
        opacity: 1; }
    section .product-container .container .row div .product-grid .product-buy {
      opacity: 0; }
      section .product-container .container .row div .product-grid .product-buy a {
        text-decoration: none; }
        section .product-container .container .row div .product-grid .product-buy a i {
          padding: .6rem;
          background-color: rgba(255, 255, 255, 0.5);
          transition: all .5s ease-out 0s;
          cursor: pointer; }
        section .product-container .container .row div .product-grid .product-buy a .ver {
          margin-right: .2rem; }
        section .product-container .container .row div .product-grid .product-buy a .agregar {
          margin-left: .2rem; }
    section .product-container .container .row div .product-grid .product-content {
      background-color: #fff;
      text-align: center;
      padding: 12px 0;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      transition: all .3s; }
      section .product-container .container .row div .product-grid .product-content:hover .title a {
        color: #000; }
      section .product-container .container .row div .product-grid .product-content .title {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .5px;
        margin: 0 0 10px;
        transition: all .3s ease-out; }
        section .product-container .container .row div .product-grid .product-content .title a {
          color: #777; }
          section .product-container .container .row div .product-grid .product-content .title a:hover {
            color: #000;
            font-weight: 600; }
      section .product-container .container .row div .product-grid .product-content .price {
        color: #333;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 8px;
        text-align: center;
        transition: all .3s; }
        section .product-container .container .row div .product-grid .product-content .price span {
          color: #777;
          font-size: 13px;
          font-weight: 400;
          text-decoration: line-through;
          margin-left: 3px;
          display: inline-block; }
    section .product-container .container .row div .product-grid .product-image {
      position: relative;
      transition: all .3s ease 0s; }
      section .product-container .container .row div .product-grid .product-image a {
        display: block;
        cursor: default; }
        section .product-container .container .row div .product-grid .product-image a .pic-1 {
          opacity: 1;
          transition: all .3s ease-out 0s; }
        section .product-container .container .row div .product-grid .product-image a .pic-2 {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .3s ease-out 0s; }
        section .product-container .container .row div .product-grid .product-image a:hover .pic-2 {
          opacity: 1; }
      section .product-container .container .row div .product-grid .product-image img {
        width: 100%;
        height: auto; }
      section .product-container .container .row div .product-grid .product-image .product-discount-label {
        background-color: #333;
        left: auto;
        right: 0; }
      section .product-container .container .row div .product-grid .product-image .product-new-label {
        background-color: #b686fd;
        left: 0; }

/* Footer */
div footer .float-footer li .footer-button {
  height: 1.5rem;
  background-color: #b686fd;
  position: absolute;
  text-decoration: none;
  width: 2rem; }
  div footer .float-footer li .footer-button::before {
    content: attr(data-tip);
    font-size: small;
    padding: 2px;
    display: block;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1; }
  div footer .float-footer li .footer-button:hover::before {
    opacity: 1;
    transform: translateY(-2rem); }

div footer .fixed-footer {
  background-color: rgba(255, 255, 255, 0.5); }
  div footer .fixed-footer li a::before {
    content: attr(data-tip);
    font-size: small;
    padding: 2px;
    display: block;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5); }
  div footer .fixed-footer li a:hover::before {
    opacity: 1;
    transform: translateY(-2rem); }

/* General */
* {
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #dac2fe;
  /*     //index.html
    .presentation-bg-img{
        background-image: url("../../img/presentation.jpg");
        background-size: cover;
    }*/ }
  body .body {
    margin-top: 10rem; }
    body .body .description {
      background-color: #ceaffe;
      border-radius: 2rem;
      padding-top: .5rem; }
      body .body .description .row div .description-title {
        font-family: vladimir;
        font-size: 3rem; }
  body .upper-side {
    margin-top: 10rem;
    margin-bottom: 8rem; }
    body .upper-side .page-title {
      font-family: vladimir;
      font-size: 4rem; }
  body .cart-title {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center; }
  body .cart {
    margin: auto auto 2rem 2rem;
    display: flex; }
    body .cart .cart-details {
      display: inline; }
      body .cart .cart-details .cart-product {
        margin: .5rem auto;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        body .cart .cart-details .cart-product div {
          margin: auto 1rem; }
        body .cart .cart-details .cart-product .cart-product-img {
          display: inline-block; }
          body .cart .cart-details .cart-product .cart-product-img img {
            width: 50%; }
    body .cart .cart-payment {
      margin-left: auto;
      margin-right: 2rem; }
  body .product-layout {
    margin-top: 10rem;
    display: grid;
    grid-template-areas: "rel img info" "rel comm comm";
    grid-template-columns: 10% 60% 30% / 10% auto auto; }
    body .product-layout .related-products {
      grid-area: rel;
      width: fit-content;
      background-color: #ceaffe; }
      body .product-layout .related-products p {
        text-align: center; }
      body .product-layout .related-products .related-product {
        margin-bottom: .5rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #b686fd;
        width: min-content; }
        body .product-layout .related-products .related-product img {
          width: 240px; }
        body .product-layout .related-products .related-product p {
          color: #000; }
    body .product-layout .product-images {
      margin-left: 1rem;
      margin-right: 1rem;
      grid-area: img;
      display: flex;
      justify-content: flex-end;
      flex-direction: row; }
      body .product-layout .product-images .product-main-img {
        display: flex;
        justify-content: start;
        align-items: center; }
        body .product-layout .product-images .product-main-img i {
          padding: .3rem;
          cursor: pointer;
          display: none; }
        body .product-layout .product-images .product-main-img img {
          cursor: zoom-in; }
      body .product-layout .product-images .product-other-img {
        display: flex;
        flex-direction: column;
        align-items: end;
        height: fit-content; }
        body .product-layout .product-images .product-other-img img {
          border: 1px solid #b686fd;
          width: 50%;
          padding: .5rem;
          cursor: pointer; }
    body .product-layout .product-info {
      padding-left: 1rem;
      grid-area: info;
      border-left: 1px solid black; }
      body .product-layout .product-info .buttons {
        display: flex;
        justify-content: center; }
        body .product-layout .product-info .buttons button {
          border-style: none;
          margin: .3rem;
          border-radius: 8px;
          background-color: #b686fd;
          transition: color 300ms; }
          body .product-layout .product-info .buttons button:hover {
            color: #fff;
            box-shadow: 0 0 5px #b686fd; }

/* Media Queries */
@media only screen and (max-width: 1320px) {
  body .product-layout {
    grid-template-areas: "img info" "comm comm" "rel rel"; }
    body .product-layout .related-products {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      body .product-layout .related-products p {
        display: inline;
        width: 100%; }
    body .product-layout .product-images {
      align-items: center; }
      body .product-layout .product-images .product-other-img {
        align-items: center;
        width: fit-content; } }

@media only screen and (max-width: 990px) {
  body .product-layout .product-images {
    flex-direction: column; }
    body .product-layout .product-images .product-main-img {
      justify-content: center; }
      body .product-layout .product-images .product-main-img i {
        display: block; }
    body .product-layout .product-images .product-other-img {
      margin-top: 1rem;
      width: 100%;
      flex-direction: row;
      justify-content: space-between; }
      body .product-layout .product-images .product-other-img img {
        width: 25%;
        padding: 0; }
  body .product-layout .related-products .related-product {
    flex-basis: 50%; }
  body section .product-container .container .row div .product-grid {
    margin-bottom: 30px; }
  body header .navbar div .collapse .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center; }
    body header .navbar div .collapse .navbar-nav .menuLink {
      width: 100%; } }

@media (max-width: 768px) {
  body .upper-side article {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .upper-side article .presentation p {
      text-align: center; }
  body .product-layout {
    grid-template-areas: "img" "info" "rel" "comm"; }
    body .product-layout .product-images {
      border-left: none; }
    body .product-layout .product-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      border: 2px solid #b686fd; }
  body .body .description .row div .description-img {
    display: none; }
  body .body .description .row div .description-title {
    font-size: 2rem; } }
